body {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui;
  color: black;
  background: white;
}
p, li {
  text-align: justify;
}
pre {
  background: #eeeeee;
  padding: 0.5rem;
}
h1, h2, h3, h4, h5 {
  color: #444444;
  font-weight: bold;
}
h4, h5 {
  color: inherit;
}
h2 {
  margin-top: 3rem;
}
a {
  color: black;
}
a:hover {
  color: lightblue;
}
pre code {
  color: black;
  background: inherit;
  padding: 0;
}
code {
  color: black;
  background: #eeeeee;
  padding: 0.2rem;
}
p.author {
  font-weight : bold;
  color: #444444;
}
code {
  color : black;
}

